name = "esi-worker-kv"
type = "webpack"
account_id = ""
workers_dev = true
route = ""
zone_id = ""
webpack_config = "cloudflare.webpack.config.js"

[site]
bucket = "./out"
entry-point = "./"

[env.canary]
name = "modena-canary"
workers_dev= true

[env.stable]
workers_dev= true