@use "styles/placeholder";
@import "styles/breakpoints";

.cta {
  @extend %container;

  @include breakpoint(lg) {
    padding: var(--spacing-2xl) 0 0;
  }

  &__inner {
    background: var(--brand-primary-3) no-repeat center center;
    color: var(--brand-primary-2);
    display: flex;
    flex-flow: row nowrap;
    max-width: var(--max-inner-content);
    width: 100%;
    position: relative;
  }

  &__title {
    font-size: clamp(
      var(--font-size),
      5vw + var(--font-size),
      var(--font-size-2xl)
    );
    margin: 0 0 var(--spacing-sm);
    line-height: var(--line-height-sm);

    @include breakpoint(sm) {
      max-width: 100%;
    }
  }

  &__text {
    color: var(--brand-primary-1);
  }

  &__content {
    position: relative;
    padding: var(--spacing-sm);
    z-index: var(--z-10);

    @include breakpoint(sm) {
      padding: var(--spacing-xl);
    }
  }
}
